<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon">
        <mat-icon class="mat-18" ></mat-icon>
        <mat-icon (click)="this.sideNav.close()" *ngIf="sideNav.opened" class="mat-18" >close</mat-icon>
        <mat-icon (click)="this.sideNav.open()"  *ngIf="!sideNav.opened" class="mat-18" >menu</mat-icon>
    <span>ANGUKIA GADGET</span>
</button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sideNav="matSidenav">
        <img class="avatar mat-elavation-z8" src="https://cdn4.vectorstock.com/i/thumb-large/50/08/news-alerts-breaking-logo-tv-design-element-vector-24575008.jpg" alt="">
        <h4 class="name">Testmonials</h4>
        <mat-divider></mat-divider>
        <ng-component *ngFor=" let source ">

        </ng-component>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content class="content mat-elevation-z4">
        <section class="product">
            <div class="container-fluid">
                <div class="slider-wrap">
                    <div class="slider-main">
                        
                        <div class="item">
                            <carousel class="text w-full" >
                              <slide *ngFor="let slide of slides" [class.carousel-item-active]="isActiveSlide(slide)"[@slideAnimation]>
                                <div class="d-flex justify-content-center">
                                  <div class="col">
                                    <img [src]="slide.image1" alt="Slide Image" class="carousel-image">
                                  </div>
                                  <div class="col">
                                    <img [src]="slide.image2" alt="Slide Image" class="carousel-image">
                                  </div>
                                  <div class="col">
                                    <img [src]="slide.image3" alt="Slide Image" class="carousel-image">
                                  </div>
                                  <div class="col">
                                    <img [src]="slide.image4" alt="Slide Image" class="carousel-image">
                                  </div>
                                  <div class="col">
                                    <img [src]="slide.image5" alt="Slide Image" class="carousel-image">
                                  </div>
                                  <!-- Additional image columns -->
                          
                                  <!-- Add CSS media query for minimum page size -->
                                  <style>
                                    @media (max-width: 600px) {
                                      .item .col {
                                        flex-basis: 100%; /* Make each column take up the full width */
                                        margin-bottom: 10px; /* Add spacing between columns */
                                      }
                                      
                                    }
                                  </style>
                                </div>
                              </slide>
                            </carousel>
                          </div>
                          
                        <div class="item">
                            <div class="text"></div>
                        </div>
                        <div class="item">
                            <div class="text"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
           
        </section>
        
        <app-menubar></app-menubar>
        
    </mat-sidenav-content>
    
</mat-sidenav-container>
